body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3 {
    width: 100%;
    padding-left: 25px;
}

.container {
    box-sizing: border-box;
    width: 100%;
    min-height: 350px;
    background-color: #508991;
    padding: 10px 5px;
    margin: 0;
    max-height: 700px;
}

div.child {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    min-width: 150px;
    min-height: 150px;
    /* text-align: center; */
    background-color: #004346;
    color: #fff;
    font-size: 24pt;
    /* line-height: 150px; */
    border: 4px solid #172a3a;
    border-radius: 5px;
    box-shadow: 0 5px 5px #172a3a;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    background-color: rgba(9, 188, 137, 0.35);
    padding: 2px 4px;
}

p {
    width: 100%;
    padding-left: 50px;
}

.container {display: flex;}

.rr {
    flex-direction: row-reverse;
}

.col {
    flex-direction: column;
}

.col-rev {
    flex-direction: column-reverse;
}

.wrap {
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap-rev {
    /* flex-direction: column; */
    flex-wrap: wrap-reverse;
}

.just-fs {
    /* flex-direction: column; */
    justify-content: flex-start;
}

.just-fe {
    /* flex-direction: row-reverse; */
    justify-content: flex-end
}

.just-center {
    justify-content: center;
}

.just-space-bet {
    justify-content: space-between;
}

.just-space-around {
    flex-direction: column;
    justify-content: space-around;
}

.just-space-even {
    justify-content: space-evenly;
}

.align-fs {
    align-items: flex-start;
}

.align-fe {
    align-items: flex-end;
}

.align-center {
    flex-direction: column;
    align-items: center;
    gap: 15px;
}